body {
  font-family: "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  line-height: 1.6em;
  background-color: white;
  color: black;
  font-size: 11px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1em;
}

table caption {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

table, th, td {
  border: 1px solid #DDDDDD;
}

td, th {
  text-align: right;
  padding: 0 0.5em;
}

td.label, th.label {
  text-align: left;
}

th {
  background-color: #E8E8E8;

  /* http://gradients.glrzad.com/ */
  background-image: linear-gradient(bottom, rgb(230,230,230) 40%, rgb(246,246,246) 80%);
  background-image: -o-linear-gradient(bottom, rgb(230,230,230) 40%, rgb(246,246,246) 80%);
  background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 40%, rgb(246,246,246) 80%);
  background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 40%, rgb(246,246,246) 80%);
  background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 40%, rgb(246,246,246) 80%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.4, rgb(230,230,230)),
    color-stop(0.8, rgb(246,246,246))
    );
}
tr.light {
  background-color: #FFFFFF;
}

tr.dark {
  background-color: #EEEEEE;
}

tr.zero, span.zero {
  background-color: #FFFF87;
}

.tables table {
  float: left;
  margin-right: 2em;
}

.tables .clear {
  clear: both;
}

#menu {
  font-size: 12px;
}

#footer {
  font-size: 10px;
  line-height: 1.5em;
  text-align: center;
  padding-top: 1em;
  margin-top: 1em;
}

ul#menu {
  padding-left: 0;
}

ul#menu li {
  padding-right: 1em;
  display: inline;
}

#ajax-loader {
  display: none;
}