<h1>Experience table</h1>

<table>
  <tr>
    <th>Level</th>
    <th>Skill experience</th>
  </tr>
  <% AtlanticaOnlineCraftCalculator::CraftExperience.levels.each do |level| %>
    <tr class="<%= cycle_table_row_colors %>">
      <td><%= level.lvl %></td>
      <td><%= number_with_delimiter(level.xp) %></td>
    </tr>
  <% end %>
</table>
