<h1>Experience table</h1>

<table class="table table-striped table-bordered table-hover table-condensed">
  <tr>
    <th>Level</th>
    <th>Skill experience</th>
  </tr>
  <% AtlanticaOnlineCraftCalculator::CraftExperience.levels.each do |level| %>
    <tr>
      <td><%= level.lvl %></td>
      <td><%= number_with_delimiter(level.xp) %></td>
    </tr>
  <% end %>
</table>
